.landing-page-content {
    min-width: 100%;
    min-height: calc(100vh - 56px);
    background-image: url('/assets/files/Wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}